#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1{
  font-size: 48px;
  font-weight: 600;
  margin-bottom: -10px;
  background-color: #3e94fa;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p{
   font-size: 30px;
   background-color: #3e94fa;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}